/*Palette : #2C3333, #2E4F4F,#0E8388,#CBE4DE*/
header {
    display: flex;
}
main {
    margin: auto;
}
button {
    font-family: Consolas, monaco, monospace;
    margin: 0px;
    margin-left: 20px;
    padding: 5px;
    border: 0;
    float: left;
    box-sizing: border-box;

    color: #CBE4DE;
    background-color: transparent;
    font-size: 150%;


}

button:hover {
    background-color: #2E4F4F;
}


body {

    margin: 0;
    border: 0;
    padding: 0;
    background-color: #2C3333;

}

h1
{
    margin:  10px;
    padding: 10px;
    border-bottom: solid 5px;
    box-shadow: 0px -5px #141818;
    border-color: aqua;
}